ion-content {
    --background: var(--full-solution-color-primary);
}

ion-slides {
    background-color: var(--full-solution-color-primary);
    height: 100%;
    max-width: 800px;
}

.swiper-slide {
    display: block;
    background-color: var(--full-solution-color-primary);
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
}

ion-slide>h1,
h2 {
    color: var( --full-solution-color-h1);
}

ion-slide>p {
    font-family: 'Roboto';
    font-size: 15px;
    border: solid;
    border-color: var(--full-solution-color-secondary);
    padding: 5px 10px 5px 10px;
}

ion-slide>ion-icon[name="close"] {
    float: right;
    color: var(--the-best-color);
    font-size: 40px;
}