ion-avatar {
    height: 150px;
    width: 100%;
    //--border-radius: 0;
}

ion-avatar img {
    width: 90px;
    height: 90px;
}

ion-card {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
}

ion-card ion-card-header {
    padding: 10px 10px;
}

ion-card ion-card-content {
    padding: 10px 10px;
}

ion-card-content ion-icon {
    font-size: 30px;
}

ion-card ion-card-title {
    font-size: 20px;
    text-transform: uppercase;
}

ion-card ion-card-content {
    font-size: .8em;
    text-transform: lowercase;
}

.size-logo img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
    margin-top: -32px;
}

ion-content{
    --background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(185,139,49,1) 20%, rgba(0,0,0,1) 100%);

}